body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100vh;
    margin: 0;
    background-color: white;
}

button {
    padding: 10px 20px;
    font-size: 15px;
    cursor: pointer;
    margin: 10px;
}
